In [1]:
import pandas as pd

In [12]:
df=pd.read_csv("C:/Users/Administrator/OneDrive/Desktop/student_perform.csv")

In [15]:
df

,maths_score,reading_score,writing_score,placement,club_join_year,placement_offer_count
0,77,81,73.0,85.0,2018,3
1,64,81,64.0,81.0,2012,2
2,67,82,63.0,86.0,2016,3
3,68,86,64.0,83.0,2012,2
4,64,83,65.0,89.0,2011,3
5,65,65,67.0,97.0,2016,3
6,66,76,74.0,100.0,2010,3
7,73,80,77.0,97.0,2012,3
8,67,88,67.0,89.0,2010,3
9,95,87,80.0,99.0,2016,3
10,75,83,65.0,85.0,2024,3
11,68,79,NaN,88.0,2015,3
12,67,75,63.0,91.0,2018,3
13,61,80,75.0,81.0,2010,2
14,76,80,72.0,98.0,2011,3
15,76,88,74.0,85.0,2024,3
16,65,84,73.0,NaN,2010,3
17,76,84,71.0,99.0,2020,3
18,74,75,68.0,100.0,2024,3
19,75,87,62.0,89.0,2019,3
20,67,84,79.0,99.0,2017,3
21,62,85,76.0,97.0,2015,3
22,63,81,67.0,93.0,2022,3
23,79,83,73.0,98.0,2011,3
24,69,81,71.0,84.0,2014,2
25,63,75,76.0,86.0,2021,3
26,67,75,67.0,80.0,2010,2
27,66,87,65.0,99.0,2021,3
28,66,85,72.0,84.0,2014,2
29,71,81,79.0,99.0,2010,3

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   maths_score            30 non-null     int64
 1   reading_score          30 non-null     int64
 2   writing_score          29 non-null     float64
 3   placement              29 non-null     float64
 4   club_join_year         30 non-null     int64
 5   placement_offer_count  30 non-null     int64
dtypes: float64(2), int64(4)
memory usage: 1.5 KB

In [17]:
df.describe()

,maths_score,reading_score,writing_score,placement,club_join_year,placement_offer_count
count,30.000000,30.000000,29.000000,29.000000,30.000000,30.000000
mean,69.733333,81.366667,70.413793,91.068966,2015.433333,2.800000
std,6.957672,5.020533,5.415040,6.953576,4.739295,0.406838
min,61.000000,65.000000,62.000000,80.000000,2010.000000,2.000000
25%,65.250000,80.000000,65.000000,85.000000,2011.000000,3.000000
50%,67.000000,81.500000,71.000000,89.000000,2015.000000,3.000000
75%,74.750000,84.750000,74.000000,98.000000,2018.750000,3.000000
max,95.000000,88.000000,80.000000,100.000000,2024.000000,3.000000

In [19]:
df.writing_score.fillna(65)

0     73.0
1     64.0
2     63.0
3     64.0
4     65.0
5     67.0
6     74.0
7     77.0
8     67.0
9     80.0
10    65.0
11    65.0
12    63.0
13    75.0
14    72.0
15    74.0
16    73.0
17    71.0
18    68.0
19    62.0
20    79.0
21    76.0
22    67.0
23    73.0
24    71.0
25    76.0
26    67.0
27    65.0
28    72.0
29    79.0
Name: writing_score, dtype: float64